<!DOCTYPE html>
<div lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ДНД Карточка</title>
    <link rel="stylesheet" href="css/card_style.css">
</head>
<body>

    <div id="overlay" class="page">
        <img src="img/pergament.jpg" style="width: 1480px; height: 1050px; z-index: 1; opacity: 0.15; position:absolute; pointer-events: none;"></img>
        <div id="colorMenu" class="hidden">
            <ul>
                <li data-color="rgba(44, 0, 44, 1)">Виноград</li>
                <li data-color="rgba(0, 13, 41, 1)">Волна</li>
                <li data-color="rgba(38, 0, 19, 1)">Гранат</li>
                <li data-color="rgba(42, 0, 0, 1)">Кровь</li>
                <li data-color="rgba(0, 31, 5, 1)">Лавр</li>
                <li data-color="rgba(54, 28, 0, 1)">Прядь</li>
                <li data-color="rgba(26, 7, 0, 1)">Переплёт</li>
                <li data-color="rgba(0, 16, 21, 1)">Пучина</li>
                <li data-color="rgba(10, 10, 10, 1)">Мостовая</li>
                <li data-color="rgba(27, 20, 0, 1)">Лоза</li>
                <li id="customColorOption">Ввести свой цвет</li>
                <li id="savePngButton">Сохранить карту</li>
            </ul>
        </div>

<!-- --------------------------ПЕРВАЯ СТРАНИЦА---------------------------- -->

        <!-- Левый контейнер -->
        <div class="container">
            <div class="block block-1">
                <div style="display: flex; justify-content: space-between; height: 38;">
                    <input id="char_name" type="text" class="input-field" placeholder="Имя Персонажа">
                    <input type="text" class="input-field" placeholder="Предыстория">
                </div>    
                <div style="display: flex; justify-content: space-between; height: 38;">
                    <input type="text" class="input-field" placeholder="Класс">
                    <input type="text" class="input-field" placeholder="Раса">
                </div>
            </div>    
            <div class="block block-2">
                <div style="display: flex; height: 100%; margin-top: 10px;">
                    
                    <!-- Левая половинка второго блока -->
                    <div style="width: 50%; padding: -1px; position:relative;">
                        <div class="input-wrapper">
                            <textarea class="textarea dynamic-textarea" placeholder="Языки и прочие владения."></textarea>
                            <div class="label">Владения</div>
                        </div>
                        <div class="input-wrapper">
                            <textarea class="textarea dynamic-textarea" placeholder="Что у вас есть?"></textarea>
                            <div class="label">Снаряжение</div>
                        </div>

                    </div>

                    <!-- Правая половинка второго блока -->
                    <div style="width: 50%; padding: -1px; position:relative;">
                        <div style="display: flex; flex-direction: columns;">
                            <div style="background-size: contain; width:140px; height: 100px;background-repeat: no-repeat; align-items: center; background-image: url('img/DC.png');">
                                <input type="text" class="input-field" style="border-bottom: none; width: 140px; height: 80px; margin: 0; text-align: center; font-size: 50px; color: black" placeholder="0">
                            </div>
                            <div style="background-size: contain; background-repeat: no-repeat; width: 205px; height: 100px;background-image: url('img/Speed.png');">
                                <input type="text" class="input-field" style="border-bottom: none; width: 90x; height: 80px; margin: 0; text-align: center; font-size: 50px; color: black" placeholder="0">
                                <input type="text" class="input-field" style="border-bottom: none; padding: 0; margin-left: 10px; width: 90px; height: 80px; text-align: center; font-size: 50px; color: black" placeholder="0">
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: columns;">
                            <div style="background-size: contain; background-repeat: no-repeat; width: 250px; height: 200px;background-image: url('img/master.png'); display:flex; flex-direction: column;">
                                <input type="text" class="input-field" style="padding-top: 15px; border-bottom: none; width: 80px; height: 110px; margin: 0; text-align: center; font-size: 50px; color: black" placeholder="0">                       
                                <input type="text" class="input-field" style="padding-bottom: 20px; border-bottom: none; width: 80px; height: 110px; margin: 0; text-align: center; font-size: 50px; color: black" placeholder="0">                       
                            </div>
                            <div style="background-size: contain; width:120px; height: 100px;background-repeat: no-repeat; align-items: center; background-image: url('img/Eye.png');">
                                <input type="text" class="input-field" style="border-bottom: none; width: 120px; height: 100px; margin: 0; text-align: center; font-size: 50px; color: black" placeholder="0">
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: columns;">
                            <div style="background-size: contain; width:355px; height: 200px;background-repeat: no-repeat; align-items: center; background-image: url('img/HP.png');"></div>
                        </div>
                        <div style="display: flex; flex-direction: columns;">
                            <div style="background-size: contain; width:355px; height: 120px;background-repeat: no-repeat; align-items: center; background-image: url('img/money.png');"></div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="block block-3">
<!--СИЛА-->        
                <div class="perc" style="height: 100%; width: 17%; display: flex; flex-direction: column-reverse; align-items: center;">
                    <div calss="label">сила</div>
                    <input class="globalInput perc_input textarea perc-textarea" placeholder="10" autocomplete="off">
                    <h class="globalPercValue perc_value" style="width: 50px; height: 20%; text-align: center;">+0</h>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Спасбросок</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Атлетика</span>
                    </div>                    
                </div>
<!--ЛОВКОСТЬ-->                        
                <div class="perc" style="height: 100%; width: 17%; display: flex; flex-direction: column-reverse; align-items: center;">
                    <div calss="label">ловкость</div>
                    <input class="globalInput perc_input textarea perc-textarea" placeholder="10" autocomplete="off">
                    <h class="globalPercValue perc_value" style="width: 50px; height: 20%; text-align: center;">+0</h>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Спасбросок</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Скрытность</span>
                    </div>        
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Акробатика</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Ловкость рук</span>
                    </div>            
                </div>
<!--ТЕЛОСЛОЖЕНИЕ-->                
                <div class="perc" style="height: 100%; width: 17%; display: flex; flex-direction: column-reverse; align-items: center;">
                    <div calss="label">телосложение</div>
                    <input class="globalInput perc_input textarea perc-textarea" placeholder="10" autocomplete="off">
                    <h class="globalPercValue perc_value" style="width: 50px; height: 20%; text-align: center;">+0</h>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Спасбросок</span>
                    </div>                  
                </div>
<!--ИНТЕЛЛЕКТ-->
                <div class="perc" style="height: 100%; width: 17%; display: flex; flex-direction: column-reverse; align-items: center;">
                    <div calss="label">интеллект</div>
                    <input class="globalInput perc_input textarea perc-textarea" placeholder="10" autocomplete="off">
                    <h class="globalPercValue perc_value" style="width: 50px; height: 20%; text-align: center;">+0</h>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Спасбросок</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Религия</span>
                    </div> 
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Природа</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Магия</span>
                    </div>    
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">История</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Анализ</span>
                    </div>               
                </div>
<!--МУДРОСТЬ-->
                <div class="perc" style="height: 100%; width: 17%; display: flex; flex-direction: column-reverse; align-items: center;">
                    <div calss="label">мудрость</div>
                    <input class="globalInput perc_input textarea perc-textarea" placeholder="10" autocomplete="off">
                    <h class="globalPercValue perc_value" style="width: 50px; height: 20%; text-align: center;">+0</h>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Спасбросок</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Уход за жив.</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Проницательность</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Медицина</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Выживание</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Внимательность</span>
                    </div>                    
                </div>
<!--ХАРИЗМА-->
            <div class="perc" style="height: 100%; width: 17%; display: flex; flex-direction: column-reverse; align-items: center;">
                <div calss="label">харизма</div>
                <input class="globalInput perc_input textarea perc-textarea" placeholder="10" autocomplete="off">
                <h class="globalPercValue perc_value" style="width: 50px; height: 20%; text-align: center;">+0</h>
                <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Спасбросок</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Убеждение</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Обман</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Запугивание</span>
                    </div>
                    <div class="skills_checkbox perc">
                        <div class="custom-checkbox empty">
                            <h class="perc_value" style="font-size: 24px; padding: 0 0 3px 0;">+0</h>
                        </div>
                        <span class="skill_name">Выступление</span>
                    </div>                    
                </div>
            </div>
        </div>

        <!-- Правый контейнер -->
        <div class="container" style="padding-top: 0px;">
            <button id="colorButton" style="text-align: center; width: 720px;">Подземелья Верстедфорта</button>
            <div id="colorInputContainer" class="hidden">
                <input type="text" id="hexColorInput" placeholder="#FFFFFF">
                <button id="applyColor">Применить</button>
            </div>

                <div style="display: flex; height: 90%;">

                    <!-- левая половина правого контейнера -->
                    <div style="width: 50%; padding: -1px;">
                        <!-- Черты характера -->
                        <div class="input-wrapper ref">
                            <textarea class=" textarea ref-textarea" placeholder="Какой ты на самом деле?"></textarea>
                            <div class="label ref">Черты характера</div> <!-- Подпись -->
                        </div>
                        <!-- Идеалы -->
                        <div class="input-wrapper ref">
                            <textarea class=" textarea ref-textarea" placeholder="Что тобой движет?"></textarea>
                            <div class="label ref">Идеалы</div> <!-- Подпись -->
                        </div>

                        <div class="input-wrapper ref">
                            <textarea class="textarea ref-textarea" style="height: 565px;" placeholder="..."></textarea>
                            <div class="label">Умения и способности</div> <!-- Подпись -->
                        </div>

                        <div style="background-size: contain; width:100%; height: 100%;background-repeat: no-repeat; align-items: center; background-image: url('img/ammo.png');"></div>

                    </div>

                    <!-- правая половина правого контейнера -->
                    <div style="width: 50%; padding: -1px;">
                        <div class="input-wrapper ref">
                            <textarea class="textarea ref-textarea" placeholder="Что или кто тебе дорог?"></textarea>
                            <div class="label ref">Привязанности</div> <!-- Подпись -->
                        </div>
                        <div class="input-wrapper ref">
                            <textarea class="textarea ref-textarea" placeholder="Расскажи о своих слабостях"></textarea>
                            <div class="label ref">Слабости</div> <!-- Подпись -->
                        </div>
                        <div class="input-wrapper ref">
                            <textarea class="textarea ref-textarea" style="height: 813px;" placeholder="..."></textarea>
                            <div class="label">Атаки и заклинания</div> <!-- Подпись -->
                        </div>
                    </div>
                </div>
        </div>
    </div>

<!-- --------------------------ВТОРАЯ СТРАНИЦА----------------------------- -->

    <div id="overlay" class="page" style="margin-top: 30px;">
        <img src="img/pergament.jpg" style="width: 1480px; height: 1050px; z-index: 1; opacity: 0.15; position:absolute; pointer-events: none;"></img>
        <div style="width: 50%; padding: -2px;">
            <a href="cardimgselector.html"  style="height: 1050px;width: 740px; position: absolute; margin: 0 auto; text-align: center; display: flex; background-color: rgba(255, 255, 255, 0.25);"> <a style="width: 740px;">фотка перса</a> </a>
        </div>
        <div style="width: 50%; padding: -1px;">
            <h1 class="char_name_disp">Имя Персонажа</h1>
            <div class="input-wrapper">
                <textarea class="textarea dynamic-textarea" placeholder="..."></textarea>
                <div class="label">предыстория</div>
            </div>    
            <div class="input-wrapper ref">
                <div class="input-wrapper">
                    <textarea class="textarea dynamic-textarea" placeholder="..."></textarea>
                    <div class="label">цели и задачи</div>
                </div>
                <div class="input-wrapper">
                    <textarea class="textarea dynamic-textarea" placeholder="..."></textarea>
                    <div class="label">дополнительная информация</div>
                </div>
        </div>
    </div>
</body>

<script src="scripts/card_script.js"></script>

</html>