<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="test, site, website" />
    <meta name="description" content="Сайт про историю одного королевства" />
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="img/favicon_dnd.png" rel="icon" type="image/png"/>
    <title>Dungeons</title>
</head>
<body>
    <div class="wrapper wrapper--">

        <header class="header">
            <a href="index.html" title="На главную" id="logo">
                Подземелья Верстедфорта
            </a>
            <div class="right">
                <a href="login.html" class="right text" style='padding: 2px;'zxcz>
                    Аккаунт
                </a>
            </div>
        </header>

        <main class="main" style="display: flex; justify-content: center; align-items: center;"> <h1>Типо дохуя глвная страница</h1> </main>
        <footer class="footer"><span class="left">© Lion Bones Entertainment, 2023</span><a href="https://t.me/Brlesha" target="_blank" class="right button"><img src="img/tg_icon.png" alt="Ссылка на телеграм" title="Ссылка на телеграм" class="tg_icon"/> <h3> Поддержка </h3> </a></footer>
    </div>
</body>
</html>